/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: PingFang TC Light, sans-serif;
    box-sizing: border-box;
  }
  .wrap{
   margin: 0 auto;
    max-width: 1920px;
  }
  .container{
    width: 1200px;
    margin: 0 auto;
  }
  
  /*header*/
    .htitle{
      font-family: Andale Mono;
      font-size: 80px;
      line-height: 90px;
      color: #000000;
      text-align: left;
      border-bottom: 2px solid #000000;
      margin-top: 48px;
      margin-bottom: 48px;
      padding-bottom: 24px;
  }
  .himg{
    width: 324px;
    margin-bottom: 48px;
    display: block;
  }
  
  /*profile*/
  .title{
    font-family: PingFang TC Medium, sans-serif;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000000;
  }
  .small{
    font-family: Roboto,Medium, sans-serif;
    font-size: 24px;
    line-height: 32px;
    padding-left: 16px;
    color: #A00404;
  }
  li p{
    margin-bottom: 24px;
      font-size: 24px;
      line-height: 36px;
  }
  .listbox{
    position: relative;
    margin-bottom: 48px;
    margin-left: 48px;
  }
  .listpf::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #96A9C4;
    border-radius: 50%;
    top: 10px;
    left: -32px;  
  }
  
  
  /*education*/
  
  .listline::after{
    content: "";
    position: absolute;
    border-left: 1px solid #96A9C4;
    top: 10px;
    bottom: 10px;
    left: -24px;
  }
  .listdot::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #96A9C4;
    border-radius: 50%;
    top: 70px;
    left: -32px;
  }
  .listedu::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #96A9C4;
    border-radius: 50%;
    top: 10px;
    left: -32px;
  }
  /*skills*/
  .titleski{
    font-family: PingFang TC Medium, sans-serif;
    font-size: 32px;
    line-height: 45px;
    width: 996px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 8px;
  }
  .smallski{
    font-family: Roboto,Medium, sans-serif;
    font-size: 24px;
    padding-left: 16px;
    color: #FFFFFF;
  }
  .bg{
    height: 500px;
      background: #415165;
      position: relative;
      padding-top: 24px;
    padding-bottom: 56px;
      margin-bottom: 72px;
  }
  .bgbox{
    width: 1920px;
      height: 360px;
      background:#96A9C4; 
      position: absolute;
      top: 72px;
      left:-360px;
      z-index: -1;
  }
  .blski{
    width: 216px;
      margin: 0 auto;
      border-left:1px solid #96A9C4;
      padding-left: 23px;
  }
  .ctski{
    color:#fff;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 10px;
    text-align: center;
  }
  
  /*work*/
  .blwe{
    border-left:1px solid #96A9C4;
      padding-left: 24px;
  }
  .ctlist{
    font-size: 24px;
    font-family: PingFang TC Medium, sans-serif;
    }
  .imgfirst{
    width: 90px;
    margin-bottom: 8px;
   display: block;
    
  }
  .wetext{
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 30px;
    margin-bottom: 32px;
  }
  
  .imgsec{
    width: 72px;
    margin-bottom: 8px;
    display: block;
  }
  
  /*footer*/
  .footer{
      background: #415165;
      padding: 24px 0 48px 0;
  }
  a{
    color: #FFFFFF;
  }
  .imgfooter{
    width: 48px;
    height: 48px;
    margin-right: 24px;
    margin-top: 16px;
  }
  
  